@import "src/components/styles/color.scss";
@import "src/components/styles/variables.scss";

.potsContainer {
  padding: 2rem 4rem;
  margin-top: 6rem;
  @media screen and (max-width: $mobile-layout-width) {
    padding: 0 1rem;
  }
}
.addTaskContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.2);

  z-index: 1;
  .addTaskCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid black;
    form {
      width: 50vw;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
    }
  }
}
