@import "../../../styles/color.scss";

.cardContainer {
  padding: 1rem;
  height: fit-content;
  background-color: $card-bg-color;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: space-between;
  height: 100%;
  .potContent {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .potTitleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.6rem ;
    font-weight: 800;
  }
  .taskItem {
    display: flex;
    justify-content: space-between;
  }
  .addNewTask {
    border-radius: 8px;
    border: 2px solid #cdcdcd;
    background: #fff;
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    & button {
      border: none;
      background: none;
      padding: 0;
    }
  }
}

.buttonContainer {
  display: flex;
  & button {
    border: none;
    background: none;
  }
  .deleteButton {
    cursor: pointer;
    transition: opacity 0.3s ease;
    padding: 0;
    &.show {
      opacity: 1;
    }
    &.hide {
      opacity: 0;
      user-select: none;
    }
  }
}
