@import "src/components/styles/color.scss";
@import "src/components/styles/variables.scss";

.pageContainer {
  color: $card-text-color;
  padding: 2rem 4rem;
  margin-top: 5rem;
  height: 100%;
  width: 100%;
  .tasksContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    border: 2px solid $border-color;
    background: $card-bg-color;
    box-shadow: 0px 0px 0px 8px $card-shadow-color;
    .potsContainer {
      flex: 1;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .pots {
      margin: 0;
      padding: 0rem;
      .pot {
        width: 100%;
        margin: 0;
        list-style: none;
        padding: 0.6rem 1rem;
        font-weight: 800;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        &.selected {
          background-color: $card-cta-bg-color;
          color: $card-cta-text-color;
        }
        .number{
          font-weight: 400;
        }
      }
    }
    .todos {
      flex: 3;
    }
  }
}
.addNew {
  border-radius: 8px;
  border: 2px solid #cdcdcd;
  background: #fff;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
}
