@import "../../styles/color.scss";

.nav {
  z-index: 1;
  ul {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    justify-content: center;
    gap: 1rem;
    background-color: $background-color;

    li {
      margin: 1rem;
      a {
        text-decoration: none;
        color: $text-color;
        &.active {
          border-bottom: 2px solid $text-color;
        }
      }
    }
  }
}
